<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>smartplaces.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>846EBFBD1C178403004CD34E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>846EBFD91C178403004CD34E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>846EBFE41C178403004CD34E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
